@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}
:root {
  --main_color: #c9f31d;
  --p_color: #8a8a8a;
  --bg_color: #1f1f1f;
  --white_color: #fff;
  --black_color: #070707;
  --border_color: rgba(255, 255, 255, 0.1);
}
body {
  background: #131313;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1500px;
}
section {
  padding: 50px;
}

img {
  width: 90%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white_color);
  font-family: "DM sans", sans-serif;
}
span {
  color: var(--main_color);
}
p {
  color: var(--p_color);
}

/* btns */


.btn {
  font-size: 12px;
  background: var(--main_color);
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black_color);
  transition: 0.3s;
}
.btn:hover {
  scale: 1.1;
}

.top_section {
  text-align: center;
  margin-bottom: 100px;
}
.top_section h2 {
  font-size: 30px;
}

/* Start Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1000;
 }
header.active {
  background: var(--black_color);
  border-bottom: 1px solid var(--bg_color);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header nav .logo img {
  width: 220px;
}
header nav .links {
  display: flex;
  gap: 40px;
}
header nav .links a {
  color: var(--white_color);
  text-transform: capitalize;
  font-size: 18px;
  transition: 0.3s;
}


header nav .links a:hover {
  color: var(--main_color);
  border-color: 2px solid var(--main_color);
}
header nav .icons {
  display: flex;
  gap: 30px;
}
header nav .icons a {
  color: var(--main_color);
  font-size: 20px;
  transition: 0.3s;
}
header nav .icons a:hover {
  scale: 1.4;
}

/* Start hero */

/* Start smoke */

.smoke-wrap{
  position: absolute;
  left: 228px;
  transform: translateX(0%);
  bottom: 290px;
}
.smoke,
.smoke2,
.smoke3,
.smoke4,
.smoke5
{
  filter: blur(50px);
  transform-origin:50% 50% ;
}
.smoke {
  animation: smoke1 3s linear infinite;
  animation-delay: 0.3s;
}
.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}
.smoke3 {
  width: 500px;
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;
}
.smoke4 {
  width: 500px;
  animation: smoke4 4s linear infinite;
  animation-delay: 2.5s;
}
.smoke5 {
  width: 500px;
  animation: smoke4 4s linear infinite;
  animation-delay: 2.5s;
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
    25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
    50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
   100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
  }

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}


/* End smoke */




.hero {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.hero .div_text {
  width: 50%;
  margin-top: 75px;
}
.hero .div_text h4 {
  color: var(--p_color);
  font-size: 24px;
  margin-bottom: 7px;
  left: 10px;
}
.hero .div_text h1 {
  font-size: 70px;
}
.hero .div_text h2 {
  font-size: 60px;
  font-weight: normal;
  line-height: 0.9;
}
.hero .div_text p {
  margin: 30px 0;
  font-size: 18px;
  width: 80%;
  line-height: 1.7;
}

.hero .div_img {
  width: 37%;
  position: relative;
  left: 70px;
}
 

/* start About */

.about .container {
  background: var(--black_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px;
  padding: 50px;
  width: 85%;
  margin-top: 60px;
}
.about .div_text {
  width: 55%;
  margin-top: -10px;
}
.about .div_text h5 {
  color: var(--p_color);
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.about .div_text h2 {
  font-size: 20px;
  margin: 25px 0 5px;
}
.about .div_text h4 {
  font-size: 30%;
  margin-bottom: 20px;
}
.about .div_text p {
  line-height: 1.8;
  font-size: 16px;
}
.more{
  display: none;
}
.about .div_img {
  width: 30%;
}

/* End about section */

/* start Services */
.services .container{
  margin-top: 50px;

}
.services .boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .boxs .box {
  width: 30%;
  text-align: center;
  padding: 15px 20px;
  background-color: var(--black_color);
  border: 2px solid var(--border_color);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}
.services .boxs .box i {
  color: var(--main_color);
  font-size: 50px;
  transition: 0.3s;
  margin-bottom: 25px;
}
.services .boxs .box h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.services h2 {
  font-size: 40px;
}
.services .boxs .box p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.7;
}
.services .boxs .box:hover {
  border-color: var(--main_color);
}
.services .boxs .box:hover i {
  scale: 1.3;
}

/* End services */

/* start projects */
.projects .container{
  margin-top: 50px;
}
.projects .project_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.projects h2 {
font-size: 40px;
}
.projects .project_box img {
  width: 45%;
}
.projects .project_box .text {
  margin-left: 40px;
  width: calc(50% - 100px);
  flex-wrap: wrap;
  
}

.projects .project_box .text h3 a {
  font-size: 20px;
  color: var(--white_color);
  transition: 0.5s;
}

.projects .project_box .text h3 a:hover {
  color: var(--main_color);
}
.projects .project_box .text p {
  margin: 30px 0 50px;
  line-height: 1.8;
}
.projects .project_box .text .link {
  display: block;
  width: 50px;
  height: 50x;
  border: 1px solid var(--border_color);
  columns: var(--main_color);
}
.projects .project_box.project_box_2 {
  flex-direction: row-reverse;
}
.projects .project_box.project_box_4 {
  flex-direction: row-reverse;
}

/* End Projects */

/* Start Skills */

.skills-container {
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 75%;
}
.skills-section h2{
  font-size: 40px;
  text-align: center;
  color: var(--white_color);
  margin-bottom: 80px;
  margin-top: 60px;

}
.skills-section span{
  color: var(--main_color);
}

.skills-title {
  color: var(--p_color);
  text-align: left;
  font-size: 18px;
  margin-bottom: 2rem;
 border-bottom: 1px solid var(--main_color);
}
.skills-items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  margin-bottom: 5rem;
}
.skills-data {
  text-align: center;
}
.skills-blob {
  width: 80px;
  height: 80px;
  background-color: var(--bg_color);
  border-radius: 3rem;
  display: grid;
  place-items: center;
  margin-inline: auto;
}
.skills-img {
  width: 50px;
}
.skills-name {
  font-size: 18px;
  margin-block: 1rem 0.25rem;
}

/* End skills */

/*  Start Contact */
 .contact .container{
  display: flex;
  justify-content: space-between;
  background: var(--black_color);
  align-items: center;
  border: 5px;
  padding: 50px;
  width: 80%;
  margin-top: 20px;
}


.contact .top_section {
  margin-bottom: 30px;
}
.contact .social_contact {
  width: 40%;
}
.contact .social_contact h2 {
  color: var(--white_color);
  margin-bottom: 50px;
  font-size: 40px;
}
.contact .social_contact .links {
  display: flex;
  flex-direction: column;
}
.contact .social_contact .links a {
  color: var(--white_color);
  font-size: 14px;
  margin-bottom: 25px;
  position: relative;
  left: 0;
  transition: 0.3s;
}
.contact .social_contact .links a i {
  color: var(--bg_color);
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: var(--main_color);
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
}
.contact .social_contact .links a:hover {
  left: 15px;
}
.contact form {
  width: 50%;
  text-align: center;
}
.contact form .inpts_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact form .inpts_form input,
.contact form .inpts_form textarea {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  background-color: var(--bg_color);
  color: white;
  margin-bottom: 30px;
  border: 1px solid var(--border_color);
  transition: 0.3s;
}
.contact form .inpts_form input {
  width: 48%;
}
.contact form .inpts_form textarea {
  width: 100%;
}
.contact form .inpts_form input:focus,
.contact form .inpts_form textarea:focus {
  border-color: var(--main_color);
}
.contact .btn {
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.contact .btn:hover {
  scale: 1.1;
}

/* end Contact */

/* Start Footer */

.footer {
  background-color: var(--bg_color);
  padding: 24px;
}
.footer p{
  text-align: center;
  font-size: 14px;
}

.footer-copyright {
  font-weight: 300;
}




.close_menu,
header .links .logo,
.icon_menu
 {
  display: none;
}


/* Responsive screen Width 1250px */

@media(max-width:1250px){
    .container{
      width: 90%;
    }
} 

/* Responsive screen Width 1000px */

@media(max-width:1080px){

    header nav .links {
    position: fixed;
    top: 100px;
    flex-direction: column;
    width: 25%;
    background: var(--bg_color);
    left: -537px;
    padding: 50px 0;
    height: 100%;
    border-right: 1px solid var(--border_color);
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  header nav .logo img {
  width: 250px;
}
header nav .icons{
  gap: 20px;
  align-items: center;
}
header nav .links a {
  font-size: 20px;
}
   header nav .links.active{
      left: 0;
    } 

    header .links .logo{
    display: block;
    }
  header nav .icons{
  margin-right: 35px;
}
  header nav .icons a {
  font-size: 20px;
}
    .icon_menu{
    display: block;
    margin-left: 20px;
    font-size: 30px;
  }
      .close_menu{
    display: block;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
 
   .hero {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .hero .container{
    flex-direction: column;
  }
.hero .div_text {
  width: 61%;
}
.hero .div_text h4 {
  font-size: 18px;
}
   .hero .div_text h1 {
    font-size: 45px;
  }
    .hero .div_text h2 {
    font-size: 40px;
  }
  .hero .div_text p{
    font-size: 16px;
    margin: 30px auto;
    width: 70%;
  }

.hero .div_img {
  width: 60%;
  margin-left: -100px;
}
  .smoke-wrap{
  left: 325px;
  bottom: 375px;
}
  .about .container{
    flex-direction: column;
  }
  .about .div_text{
    width: 60%;
    margin-bottom: 50px;
    font-size: 21px;
  }
  .about .div_img{
    width: 70%;
    margin-left: 50px;
  }


.services .container{
  width: 91%;
}
.services h2 {
  font-size: 40px;
}
.services .boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .boxs .box {
  width: 30%;
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
}
.services .boxs .box i {
  font-size: 40px;
  margin-bottom: 20px;
}
.services .boxs .box h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.services .boxs .box p {
  font-size: 14px;
  line-height: 1.7;
}

    .projects{
    padding-bottom: 0px;
  }
  .projects .container{
    width: 91%;
  }
  .projects .project_box img {
   width: 45%;
}
  .projects .project_box .text {
  margin-left: 30px;
  width: calc(50% - 90px);
  flex-wrap: wrap;
  margin-top: 50px;
  
}
    .projects .project_box .text h3 a{
    font-size: 14px;
  }
    .projects .project_box .text P{
    font-size: 14px;
      margin-top: 10px;
  }

.skills-container {
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 70%;
}

 .contact .container{
  width: 91%;
 }
.contact .social_contact h2 {
  font-size: 40px;
}
.contact .social_contact .links a {
  font-size: 12px;
}
}


/* Responsive screen Width 1080px */


/* Responsive screen Width 720px */

@media(max-width:720px){

header nav .links{
  width: 35%;
  left: -100%;
}
.hero .div_text h4 {
  font-size: 18px;
}
   .hero .div_text h1 {
    font-size: 40px;
  }
    .hero .div_text h2 {
    font-size: 35px;
  }
  .hero .div_text p{
    font-size: 16px;
    width: 100%;
  }
  
  .smoke-wrap{
  left: 215px;
  bottom: 255px;
}
  .services .boxs .box {
    width: 100%;
    margin-bottom: 20px;
  }

    .projects{
    padding-bottom: 0px;
  }
  .projects .project_box img {
  width: 55%;
}
  .projects .project_box .text {
  margin-left: 10px;
  width: calc(50% - 70px);
  flex-wrap: wrap;
  margin-top: 50px;
  
}
    .projects .project_box .text h3 a{
    font-size: 14px;
  }
    .projects .project_box .text P{
    font-size: 14px;
      margin-top: 10px;
  }
  .contact .container{
    width: 100%;
    flex-direction: column;
  }
   .contact .container h2{
    text-align: center;
   }

  .contact .social_contact{
    width: 100%;
    margin-bottom: 30px;
  }
  .contact .social_contact .links a i {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.contact .social_contact .links a {
  font-size: 13px;
  margin-bottom: 20px;
  line-height: 1;
}
.contact form {
  width: 100%;
}
.contact form .inpts_form input{
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 15px;
}
}






















  

